:root {
  --principal-font: "Poppins", sans-serif;
  --principal-color: #70ae98;
  --secondary-color: #f9f7fe;
  --third-color: #272142;
}

body {
  font-family: var(--principal-font);
  margin: 0;
  background-color: var(--secondary-color);
}

p {
  color: var(--third-color);
  font-size: 18px;
  line-height: 2;
  opacity: 0.7;
  text-align: justify;
}

h2 {
  color: var(--third-color);
  font-size: 44px;
}

h4 {
  font-size: 20px;
}

.navbar .navbar-nav .nav-link {
  color: black;
  opacity: 0.7;
  font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--principal-color);
  opacity: 1;
}

.portfolio-content {
  margin: 0;
}

.header-content {
  margin: auto;
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
}

.hello-name {
  font-size: 46px;
  color: var(--principal-color);
}
.name,
.principal-title {
  font-size: 96px;
  color: var(--principal-color);
  line-height: 1;
}

.name-description {
  font-size: 34px;
  color: var(--principal-color);
}

.line {
  margin: 50px;
}

.apresentation {
  margin: 100px auto;
}

.my-photo {
  border-radius: 50%;
  opacity: 0.95;
}
.my-photo:hover {
  opacity: 1;
}
.title {
  text-indent: 1em;
}

.learn-more {
  text-decoration: underline;
  color: var(--principal-color);
  display: block;
 text-align: right;
 margin-right: 50px;
 font-size: 18px;
 border-radius: 20px;
}
.learn-more:hover {
  font-size: large;
  color: var(--principal-color);
}

.certificate {
  text-decoration: underline;
  color: var(--principal-color);
margin-left: 20px;

opacity: 1;
  
}
.certificate:hover {
  font-size: large;
  color: var(--principal-color);
}

.content-button {
  display: block;
  margin: 10px 0;
  text-align: left;
  border: 1px solid var(--principal-color);
  width: 200px;
  padding: 15px 25px;
  color: var(--principal-color);
  font-size: 24px;
}

.content-button:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--principal-color);
}

.margin-auto {
  margin: auto;
}

.footer {
  text-align: center;
 
}

.footer a{
  text-decoration: none;
  color: var(--principal-color);
}

.h4-contacts {
  color: var(--principal-color);
  font-size: 20px;
  text-indent: 0;
}

.contact-me-content {
  line-height: 1.5;
  margin-bottom: 30px;
}

.content {
  padding: 90px 50px;
}

.content h1,
.color-princ,
.content a:hover {
  color: var(--principal-color);
}

.content a {
  color: black;
  text-decoration: none;
}

.img-cursovideo {
  border-radius: 50%;
  padding: 10px;
  max-width: 300px;
}

.logo-shecodes {
  max-width: 300px;
}

.logo-skills {
  width: 40px;
  border-radius: 50%;
}

.work-button {
  display: block;
  margin: 10px 0;
  text-align: left;
  border: 1px solid var(--principal-color);

  padding: 15px 25px;
  color: var(--principal-color);
  font-size: 18px;
}

.work-button:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--principal-color);
}

.border-project {
  border: 1px solid var(--principal-color);
  border-radius: 20px;
  padding: 30px;
}

@media (max-width: 900px) {
  h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
  }

  .name,
  .principal-title {
    font-size: 44px;
    line-height: 1;
  }
  .name-description {
    font-size: 14px;
  }

  .hello-name {
    font-size: 23px;
  }
  .header-content {
    margin: auto;
    padding: 20px 0 5px;
    width: 90%;
  }

  .content-button {
    font-size: 18px;
  }
  .line {
    margin: 10px;
  }
  .h2-contacts {
    color: var(--principal-color);
    font-size: 18px;
    text-indent: 0;
  }
}
